@model IEnumerable<MvcSaed.Models.Unidade>
@{
    ViewData["Title"] = "Unidades";
}
<h1>Unidades</h1>
<p><a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Cadastrar Unidade</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Turma</th>
            <th>Ativa</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach(var u in Model) {
    <tr>
        <td><span class="badge bg-secondary">@u.Id</span></td>
        <td>@u.Nome</td>
        <td>
            @if(u.Turma != null)
            {
                <span class="badge bg-primary">@u.Turma.Nome</span>
            }
        </td>
        <td>@(u.Ativa ? "Sim" : "Não")</td>
        <td>@u.Endereco</td>
        <td>
            <a asp-action="Details" asp-route-id="@u.Id" class="btn btn-info btn-sm">Detalhes</a>
            <a asp-action="Edit" asp-route-id="@u.Id" class="btn btn-warning btn-sm">Editar</a>
            <a asp-action="Delete" asp-route-id="@u.Id" class="btn btn-danger btn-sm">Excluir</a>
        </td>
    </tr>
}
    </tbody>
</table>